:host {
  border: 1px solid;
  display: block;
  height: 400px;
  margin: 16px;
  overflow: hidden;
  position: relative;
  width: 800px;
}

.controls {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.custom-width[persistent], .custom-width[permanent] {
  width: 50%;
}
.custom-width[persistent]:not([end]) ~ material-content,
.custom-width[persistent]:not([end]) ~ .material-content, .custom-width[permanent]:not([end]) ~ material-content,
.custom-width[permanent]:not([end]) ~ .material-content {
  margin-left: 50%;
}
.custom-width[persistent][end] ~ material-content,
.custom-width[persistent][end] ~ .material-content, .custom-width[permanent][end] ~ material-content,
.custom-width[permanent][end] ~ .material-content {
  margin-right: 50%;
}
.custom-width[persistent].mat-drawer-collapsed:not([end]) {
  transform: translateX(-100%);
}
.custom-width[persistent].mat-drawer-collapsed:not([end]) ~ material-content,
.custom-width[persistent].mat-drawer-collapsed:not([end]) ~ .material-content {
  margin-left: 0;
}
.custom-width[persistent].mat-drawer-collapsed[end] {
  transform: translateX(100%);
}
.custom-width[persistent].mat-drawer-collapsed[end] ~ material-content,
.custom-width[persistent].mat-drawer-collapsed[end] ~ .material-content {
  margin-right: 0;
}
.custom-width ::ng-deep > .drawer-content {
  left: -50%;
  width: 50%;
}
.custom-width.mat-drawer-expanded ::ng-deep > .drawer-content {
  transform: translateX(100%);
}
.custom-width[end] ::ng-deep > .drawer-content {
  left: initial;
  right: -50%;
}
.custom-width[end].mat-drawer-expanded ::ng-deep > .drawer-content {
  transform: translateX(-100%);
}
