service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    match /Clubs/{club} {
      allow read: if isSignedIn();
      // Only allow writes when the member is setup correctly.
      allow update, delete: if isSignedIn() &&
          resource.data.members[request.auth.uid].admin;
      allow create: if isSignedIn() &&
          request.resource.data.members[request.auth.uid].admin;
    }

    match /Games/{club} {
      allow read: if isSignedIn();
      allow update, delete: if isSignedIn();
      // Only allow a create if the shared data exists and the team exists.
      allow create: if isSignedIn() &&
          exists(/databases/$(database)/documents/GamesShared/$(request.resource.sharedGameUid)) &&
          exists(/databases/$(database)/documents/Team/$(request.resource.teamUid));
    }

    match /GamesShared/{club} {
      allow read: if isSignedIn();
      allow write: if isSignedIn();
    }

    match /Invites/{club} {
      allow read: if isSignedIn();
      allow write: if isSignedIn();
    }

    match /League/{club} {
      allow read: if true;
      allow update, delete: if isSignedIn() &&
          request.resource.data.members[request.auth.uid].admin == true;
      // Only allow a create if they are set as an admin.
      allow create: if isSignedIn() &&
          request.resource.data.members[request.auth.uid].admin == true;
    }

    match /LeagueDivision/{club} {
      allow read: if true;
      allow update, delete: if isSignedIn();
      allow create: if isSignedIn() &&
          exists(/databases/$(database)/documents/LeagueSeason/$(request.resource.data.seasonUid));
    }

    match /LeagueSeason/{club} {
      allow read: if true;
      allow write: if isSignedIn();
      allow create: if isSignedIn() &&
          exists(/databases/$(database)/documents/League/$(request.resource.data.leagueUid));
    }

    match /LeagueTeam/{club} {
      allow read: if true;
      allow write: if isSignedIn();
    }

    match /MessageRecipients/{club} {
      allow read: if isSignedIn();
      allow write: if isSignedIn();
    }

    match /Messages/{club} {
      match /{ALLSUBCOLLECTIONS=**} {
            allow read: if isSignedIn();
            allow write: if isSignedIn();
      }
      allow read: if isSignedIn();
      allow write: if isSignedIn();
    }

    match /Seasons/{club} {
      allow read: if isSignedIn();
      allow write: if isSignedIn();
    }

    match /Teams/{team} {
      match /{ALLSUBCOLLECTIONS=**} {
        allow read: if isSignedIn();
        allow write: if isSignedIn();
      }
      allow read: if isSignedIn();
      allow write: if isSignedIn();
    }

    // Main users table
    match /users/{userId} {
      allow read, update, delete: if isSignedIn() &&
          request.auth.uid == userId;
      allow create: if isSignedIn() && request.auth.uid != null;
    }

    // UserData table (profile details).
    match /UserData/{userId} {
      allow read, update, delete: if isSignedIn() &&
          request.auth.uid == resource.id;
      allow create: if isSignedIn() && request.auth.uid != null &&
          request.resource.id == request.auth.uid && request.resource.data.createdAt == request.time;
    }

    match /Players/{player} {
      allow update, delete: if isSignedIn() &&
          resource.data.user[request.auth.uid].added;
      allow create: if isSignedIn() &&
          request.resource.data.user[request.auth.uid].added;
      allow read: if isSignedIn();
    }
  }
}
