<p><img src="{{leagueimg}}" width="200" height="200" style="padding: 0 15px; float: left;"></p>
<p style="margin-top: 20px;"> </p>
<p><font size="5">You are invited to join league team <b>{{invite.leagueTeamName}}</b>
    by {{sentBy.name}}.</font></p>
<p>The team is part of the league {{invite.leagueName}} and it is playing in the
{{invite.leagueSeasonName}} season</p>
<p>This will allow you to see all the games in the league and connect the
team to your own team to manage players and team specific events/games/practices.</p>
<p><font size="4">{{league.shortDescription}}</font>
    (<i>{{league.sport}} {{league.gender}}</i>)</p>
<p>{{league.longDescription}}</p>
