<p><img src="{{clubimg}}" width="200" height="200" style="padding: 0 15px; float: left" /></p>
<p style="margin-top: 20px"></p>
<p>
    <font size="5">
        You are invited to join club {{invite.clubName}} {{#if invite.admin}} as an admin {{/if}}. by
        {{sentBy.displayName}}.</font
    >
</p>
<p>
    This will allow you to administer all the teams in the club, adding teams as well as adding games/players to all the
    teams in the club.
</p>
<p><a href="{{shortInviteLink}}">Open Invite</a>.</p>
